.container-menu {
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  background: #dadada;
}

@media (min-width: 768px) {
  .container-menu {
    position: fixed; 
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
  }
}


