.container-main {
  display: inline-block;
  padding: 20px 50px;
  background: #f2f2f2;
}
@media (min-width: 768px) {
  .container-main {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
}

.about{
  margin: 30px 30px 30px 15px;
  overflow: auto;
}

.title{
  font-size: 32px;
  font-weight: 400;
}

.sub-title{
  font-size: 18px;
  font-weight: 300;
}

.sub-title span {
  text-decoration: none;
  border-bottom: 1px solid #d4d4d4;
}

.name-institution {
  font-size: 21px;
  font-weight: 300;
}
.copy {
  font-weight: 300;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-word;
}

.copy a {
  padding: 0 4px 2px 4px;
  border-bottom: 2px solid #A3C0FC;
  font-weight: 400;
  transition: background-color 0.3s, border-color 0.3s;
}
.copy a:hover {
  background-color: #E9F0FF;
  border-color: #1560FB;
}
