div {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}


.container-main {
  display: inline-block;
  background: #ffffff;
  width: calc(70%);
}
@media (min-width: 768px) {
  .container-main {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(70%);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
}

.shompi_section{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.shompi_about{
  margin: 75px 30px;
  overflow: auto;
  font-family: 'Inconsolata', monospace;
}

.shompi_main_title{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-bottom: 25px;
}

.shompi_main_title span {
  text-transform: uppercase;
  color: #E9204F;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Saira', sans-serif;
}

.shompi_main_title h3 {
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Saira', sans-serif;
  font-size: 30px;
}

.shompi_about .parts {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  display: flex;
}
.shompi_about .parts .leftpart {
  width: 40%;
  height: auto;
}

.shompi_about .parts .leftpart .about_image {
  position: relative;
  border-radius: 15px;
}

.shompi_about .parts .leftpart .about_image img {
  min-width: 100%;
  border-radius: 15px;
  width: 100%;
}

.shompi_about .parts .leftpart .main_image {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/me-full.jpg);
  border-radius: 15px;
}

.shompi_about .parts .rightpart {
  width: 60%;
  height: auto;
  padding-left: 40px;
  position: relative;
  top: -15px;
}

.shompi_about .parts .rightpart .name_holder {
  margin-bottom: 7px;
}

.shompi_about .parts .rightpart .name_holder p {
  color: #000;
  font-family: 'Saira', sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.shompi_about .parts .rightpart p {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 2.2;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.shompi_about .about_short_contact_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shompi_about .about_short_contact_wrap ul {
  margin: 0px;
  list-style-type: none;
}

.shompi_about .about_short_contact_wrap ul li {
  margin: 0px 0px 2px 0px;
  width: 50%;
  float: left;
}

.shompi_about .about_short_contact_wrap ul li span {
  color: #000000;
  font-family: "Saira";
}

.shompi_about ul li label {
  font-family: "Saira";
  font-weight: 700;
  color: #000;
  min-width: 85px;
  display: inline-block;
}

.about{
  margin: 75px;
  overflow: auto;
  font-family: 'Inconsolata', monospace;
}

.about h1{
  font-size: 36px;
  margin: 10px 0px;
  color: #231e24;
}

.timeline{
  margin: 30px 0px;
}

.timeline h2{
  font-size: 18px;
  margin: 20px 0px;
  color: #231e24;
  text-align: center;
}

.timeline img{
  display: block;
  width: 500px;
  margin: 20px auto;
}

.works {
  margin-top: 50px;
}
.works h2{
  margin: 50px 0px 5px !important;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
  color: #231e24;
}

.works .list {
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px;
    font-weight: normal;
    line-height: 26px;
    text-align: justify;
    text-justify: inter-word;
}

.works .list-2 {
  font-size: 14px;
  margin: 10px 0px;
  padding: 10px;
  font-weight: normal;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-word;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
}

.works .list li{
  list-style: none;
}
.works .list li:first-child {
    font-weight: bold;
    font-size: 16px;
}

.works .list li:nth-child(2) {
  font-weight: bold
}

.works .list-2 li{
  list-style: none;
}
.works .list-2 li:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
}

.works .list-2 li:nth-child(3) {
  font-weight: bold
}

.img-work{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
}